# Composer
/vendor/
composer.lock

# PHPUnit
/.phpunit.cache/
/.phpunit.result.cache
/tests/integration/.phpunit.cache/

# IDE
/.idea/
/.vscode/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Local/environment overrides
.env
.env.local
